/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, a, nav, div, ul, li, p, header,
footer, h1, h2, button, input, textarea, label,
span, article, img, form {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

.landing-page {
  background-image: image-url("musugi.jpg");
  background-size: cover;
  height: 500px;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

h2 {
  font-family: Corben;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.navbar-container {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #051459;
}

.search-form {
  height: 250px;
  width: 450px;
  margin: 100px ;
  top: 100px;
  background: black;
  float: left;
  opacity: 0.6;
}

.search-form a {
  display: block;
  margin: 20px auto;
  width: 100px;
  border: 5px solid #051459;
  padding: 10px;
  border-radius: 5px;
  background: white;
}

.login-logout {
  top: 300px;
  display: block;
  position: absolute;
  margin: auto;
  left: calc(50% - 50px);
  font-size: 24px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
}

.navbar-link-list {
  float: right;
  padding:  10px;
}

.navbar-link {
  float: left;
  font-size: 16px;
  font-weight: normal;
  font-family: Nobile;
  padding:  10px;
}

.new_user {
  display: block;
  width: 900px;
  padding: 20px;
  border: 5px solid #FBEF02;
  border-radius: 5px;
  background: #051459;
  color: white;
  font-family: Nobile;
  margin: 20px auto;
  text-align: center;
}

a {
  font-family: Nobile;
}

.sign-in-form {
  font-family: Nobile;
}

input {
  display: block;
  background: white;
  margin: auto;
}

.restaurant-list {
  float: right;
  margin: 100px auto;
}

.restaurant-card {
  display: block;
  width: 600px;
  padding: 10px;
  border-left: 2px solid #FBEF02;
  border-bottom: 2px solid #FBEF02;
}

.field input {
  border: 2px solid #FBEF02;
  border-radius: 5px;
}

.field label {
  display: block;
}

.field {
  display: block;
  text-align: center;
  margin: 10px;
}


.actions input {
  border: 2px solid #FBEF02;
  border-radius: 5px;
  padding: 5px;
}

.navbar a {
  color: #FBEF02;
  padding: 10px;
}

.logo {
  font-family: Corben;
  font-weight: bold;
  float: left;
  font-size: 24px;
}
