/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, a, nav, div, ul, li, p, header,
footer, h1, h2, button, input, textarea, label,
span, article, img, form, fieldset {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Helvetica;
}

.landing-page {
  background-image: image-url("musugi.jpg");
  background-size: cover;
  height: 500px;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

h2 {
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.navbar-container {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: transparent;
  transition: background .3s ease-in-out;
}

.navbar.not-transparent {
  background: #1E2F81;
}

.search-form {
  color: white;
  height: 200px;
  width: 450px;
  margin: 175px 200px;
  background-color: rgba(51, 51, 51, 0.78);
  border-radius: 5px;
  float: right;
}

.search-form input[type="radio"] {
  display: none;
}

.search-form span {
  margin: 0 10px;
}

.search-form fieldset {
  margin: 10px 70px;
  font-size: 18px;
}

[type="radio"] + span::before {
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin: 0 20px 0 0;
  transition: 0.5s;
}


[type="radio"]:checked + span::before {
  background: #DBB121;
  box-shadow: 0 0 0 0.25em #000;
}

.search-form input {
  float: left;
  width: 310px;
  margin: 20px 0 0 20px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-form button {
  color: white;
  float: left;
  margin: 20px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  background: #1E2F81;
}

.login-logout {
  top: 300px;
  display: block;
  position: absolute;
  margin: auto;
  left: calc(50% - 50px);
  font-size: 24px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
}

.navbar-link-list {
  float: right;
  padding:  10px;
}

.navbar-link {
  float: left;
  font-size: 16px;
  font-weight: normal;
  padding:  10px;
}

.new_user {
  display: block;
  width: 900px;
  padding: 20px;
  border: 5px solid #FBEF02;
  border-radius: 5px;
  background: #1E2F81;
  color: white;
  margin: 20px auto;
  text-align: center;
}

input {
  display: block;
  background: white;
  margin: auto;
}

.filter-field {
  display: block;
  background: gray;
  float: left;
  width: 25%;
}

.restaurant-list {
  float: right;
  width: 75%;
  margin: 100px auto;
}

.restaurant-card a {
  display: block;
  font-weight: bold;
  padding: 10px 0;
}

.restaurant-card p {
  display: block;
  margin-left: 15px;
}

.restaurant-card {
  margin: 10px auto;
  display: block;
  padding: 10px;
  border-bottom: 2px dotted #1E2F81
}

.field input {
  border: 2px solid #FBEF02;
  border-radius: 5px;
}

.field label {
  display: block;
}

.field {
  display: block;
  text-align: center;
  margin: 10px;
}


.actions input {
  border: 2px solid #FBEF02;
  border-radius: 5px;
  padding: 5px;
}

.navbar a {
  display: block;
  padding: 10px 5px;
  color: white;
}

.logo {
  display: block;
  float: left;
  margin: 20px;
  background-image: image-url("logo.png");
  height: 20px;
  width: 150px;
  font-family: Corben;
  font-weight: bold;
  color: #FBEF02;
  font-size: 24px;
  background-size: contain;
  transition: background-size 0.9s;
}

.small-logo {
  background-size: contain;
  height: 10px;
  width: 115px;
}
