/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, a, nav, div, ul, li, p, header,
footer, h1, h2, h3, h4, h5, button, input, textarea, label,
span, article, img, form, fieldset, section {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  color:inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Helvetica;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

input:focus {
  outline: 2px solid #FAF13D;
  -moz-outline-radius: 5px;
}

button, a {
  cursor: pointer;
}

button:focus {
  outline:0;
}

h2 {
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

html {
  background: #aaa;
}

[type="radio"] + span::before {
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.2em solid #white;
  box-shadow: 0 0 0 0.15em #000;
  margin: 0 20px 0 0;
  transition: 0.5s;
}


[type="radio"]:checked + span::before {
  background: #FAF13D;
  box-shadow: 0 0 0 0.25em #000;
}

input {
  display: block;
  background: white;
  margin: auto;
}
