.auth-modal {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
  width: 500px;
  background: #D97537;
  border: 1px solid black;
}

.auth-modal-wrapper {
  z-index: 9999;
  display: block;
  position: fixed;
  background-color: rgba(51, 51, 51, 0.78);
  height: 100%;
  width: 100%;
}

.auth-modal-wrapper.hidden {
  display: none;
}

.auth-modal.hidden {
  display: none;
}

.auth-modal button {
  font-size: 24px;
}

.hide-modal {
  font-family: 'Corben';
  display: block;
  float: right;
  padding: 20px;
  color: white;
}

.hide-modal:hover {
  color: #FFD400;
}

.toggle-form {
  font-family: 'Corben';
  display: block;
  float: left;
  padding: 20px;
  color: white;
}

.toggle-form:hover {
  color: #FFD400;
}

.auth-form {
  display: block;
}

.auth-modal span {
  color: white;
  font-family: 'Corben'
}

.auth-modal h1 {
  display: block;
  text-align: center;
  font-family: Corben;
  font-weight: bold;
  color: #FFD400;
  font-size: 36px;
  margin: 15px auto;
}

.auth-modal input {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  box-sizing: content-box;
  margin: 5px 90px;
  padding: 5px;
  width: 300px;
  font: inherit;
  background: white;
}

.auth-form span {
  display: block;
  margin: 10px 90px 5px;
}

.auth-form button {
  font-family: 'Source Sans Pro';
  padding: 10px 20px;
  font-size: 18px;
  background: #D97537;
  color: #FFD400;
  border: 1px solid white;
}

.signin-button-wrapper {
  text-align: center;
}

.signin-button {
  display: inline-block;
  margin: 20px;
}
