.checkout-form {
  margin: 100px 450px;
  width: 500px;
  float: left;
  background: white;
}

.checkout-form input {
  display: block;
  box-sizing: content-box;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  font: inherit;
  background: white;
  color: inherit;
}

.checkout-form span {
  margin-top: 20px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.checkout-form button {
  display: block;
  margin: 20px auto;
  padding: 20px 100px;
  font-weight: bold;
  background: #19284F;
  color: #FFD400;
  border-radius: 5px;
}
