.landing-page {
  background-image: image-url("musugi.jpg");
  background-size: cover;
  height: 500px;
}

.search-form {
  position: relative;
  color: white;
  height: 200px;
  width: 640px;
  left: 50%;
  background-color: rgba(51, 51, 51, 0.78);
}

input[type="radio"] {
  display: none;
}

.search-form span {
  margin: 0 10px;
}

.search-form fieldset {
  margin: 10px 175px;
  font-size: 18px;
}

.search-form input {
  float: left;
  color: black;
  width: 200px;
  margin: 20px 0 0 2px;
  padding: 10px;
}

.search-form input.address-input {
  margin-left: 40px;
  width: 250px;
}

.search-form button {
  color: white;
  float: left;
  margin: 20px 0;
  padding: 10px;
  background: #19284F;
}

.landing-page-header {
  font-family: 'Corben';
  line-height: 1.3333;
  position: relative;
  font-size: 50px;
  color: white;
  width: 500px;
  top: 170px;
  margin-left: 10%;
}

.filler-light {
  position: absolute;
  top: 500px;
  width: 100%;
  height: 400px;
  background: #ccc;
  text-align: center;
}

.filler-dark {
  position: absolute;
  top: 900px;
  width: 100%;
  height: 400px;
  background: #aaa;
}

 .filler-light button {
  margin: 25px 50px;
  display: inline-block;
  text-align: center;
}

 .filler-light button:hover {
  box-shadow: -3px 3px 30px black;
}

.filler-light h2 {
  font-family: 'Corben';
  font-size: 36px;
  color: #FFD400;
  font-weight: normal;
}

.filler-light h3 {
  font-family: 'Corben';
  text-align: center;
  display: block;
  margin: 5px;
}

.filler-light small {
  color: #aaa;
  text-align: center;
  display: block;
  margin: 0 0 20px;
}

.address-input option {
  padding: 5px;
  border-bottom: 1px dotted #aaa;
}

button.featured-restaurant-card {
  background: #19284F;
}

.featured-restaurant-card * {
  background: #19284F;
  color: white;
}

.featured-restaurant-card {
  width: 179px;
  height: 250px;
}

.featured-card-img {
  display: block;
  height: auto;
  width: 179px;
}
