.navbar-container {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: transparent;
  transition: background .3s ease-in-out;
}

.navbar.not-transparent {
  background: #05164C;
  box-shadow: 0 2px 10px black;
}


.navbar-search-form {
  float: left;
  padding: 10px;
  width: 600px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.navbar-radios {
  color: white;
  float: left;
  padding-left: 15px;
}

.navbar-search-form input {
  color: black;
  float: left;
  margin: 10px 0 0 10px;
  padding: 5px;
  height: 100%;
  width: 240px;
}

.navbar-search-form button {
  float: left;
  color: black;
  border-left: 1px solid black;
  margin-right: 5px;
  background: white;
  margin: 10px 0;
  padding: 5px;
}

.navbar-span {
  float: left;
  margin: 10px 10px 0 0;
  padding: 5px;
}

.navbar-radio-label {
  cursor: pointer;
  float: left;
  margin: 10px 0;
  padding: 5px;
}

.navbar-button-list {
  color: white;
  float: right;
  padding:  5px;
}

.navbar-button-list button:hover {
  color: #FBEF02
}

.navbar-button {
  margin-top: 10px;
  float: left;
  font-size: 16px;
  font-weight: normal;
  padding:  10px;
}

.logo {
  display: block;
  float: left;
  margin: 20px 20px 10px;
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  height: 80px;
  width: 150px;
  font-family: Corben;
  font-weight: bold;
  color: #FBEF02;
  font-size: 24px;
  background-size: contain;
  transition: width .5s;
}

.small-logo {
  background-size: contain;
  height: 35px;
  width: 115px;
}

.profile-drop-down {
  right: 100px;
  top: 55px;
  position: absolute;
  background: white;
  white-space: nowrap;
  margin: 5px;
}

.profile-drop-down li {
  display: block;
}

.drop-down-link {
  display: block;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0;
  color: black;
}

.profile-drop-down.hidden {
  display: none;
}
