.order-item-info {
  padding: 5px;
  float:left;
}

.orders-index {
  margin-top: 70px;
  width: 75%;
  float: right;
  background: white;
  height: 100%;
}

.order-item-restaurant-link {
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #05164C;
}
