button.shepherd-start-tour-button.shepherd-theme-default {
  position: absolute;
  font-size: 24px;
  z-index: 99999;
  top: 70px;
  right: 40px;
  background: #19284F;
  color: #FFD400;
  padding: 10px;
}

.shepherd-element.shepherd-theme-default {
  position: relative;
  top: -310px;
  right: 200px;
}
