.user-profile-content {
  height: 100%;
}

.user-profile-sidebar {
  position: fixed;
  margin-top: 70px;
  width: 25%;
  height: 100%;
  float: left;
  background: white;
}

.user-profile-index-item {
  border-bottom: 1px dotted #ccc;
}

.user-profile-index-item img {
  display: block;
  margin: 5px;
  padding: 10px;
  float: left;
}

.user-profile-index-item span, strong {
  margin: 10px;
}
