.user-profile-content {
  height: 100%;
}

.user-profile-sidebar {
  position: fixed;
  margin-top: 70px;
  width: 25%;
  height: 100%;
  float: left;
  background: white;
  border-right: 1px solid black;
}

.user-profile-sidebar a {
  display: block;
  font-size: 20px;
  color: #150680;
  padding: 20px;
  border-bottom: 1px dotted black;
}

.user-profile-index-item {
  border-bottom: 1px dotted black;
}

.user-profile-index-item:first-child {
  border-top: 1px dotted black;
}

.user-profile-index-item img {
  display: block;
  margin: 5px;
  padding: 10px;
  float: left;
  box-shadow: none;
}

.user-profile-index-header {
  text-align: center;
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin: 20px;
}

.order-item-info {
  width: 75%;
}

.orders-index-order li {
  padding: 10px;
}

.order-item-restaurant-link {
  display: block;
  text-align: center;
  width: 100%;
}

.user-profile-index-item a {
  display: block;
  font-weight: bold;
  color: #150680;
  text-shadow: 1px, 1px, 1px, black;
  padding: 10px 10px 5px;
  margin-left: 100px;
}

.user-profile-index-item small {
  margin-left: 20px;
  display: block;
}

.delete-address-button {
  float: left;
  padding: 20px;
}

.user-profile-index-item span, strong {
  margin: 10px;
}

.edit-address {
  height: 450px;
  width: 500px;
  margin: 100px 900px;
  background: white;
  float: left;
}

.address-form input {
  padding: 10px;
  margin: 5px 40px;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
}

.address-form div {
  margin: 5px 40px;
}

.address-form button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-weight: bold;
  background: #19284F;
  color: #FFD400;
  border-radius: 5px;
}

.managed-restaurants-index {
  float: right;
  width: 75%;
  background: white;
}

.new-restaurant-form-wrapper {
  float:right;
  width: 75%;
  height: 100%;
  margin: 100px auto;
}

.new-restaurant-form-wrapper h1 {
  color: #FFD400;
  text-align: center;
  font-size: 36px;
  font-family: "Corben";
  padding-top: 20px;
}

.new-restaurant-form {
  color: white;
  height: 780px;
  width: 700px;
  margin: auto;
  background: #D97537;
}

.preview-image {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 100px;
}

.new-restaurant-form input {
  width: 500px;
  padding: 5px;
  margin: 5px 100px;
  color: black;
}

.new-restaurant-form span {
  margin: 0 100px;
  font-family: 'Corben';
}

.submit-wrapper {
  text-align: center;
}

.new-restaurant-form button {
  font-family: 'Source Sans Pro';
  margin: 15px auto;
  padding: 10px 20px;
  font-size: 18px;
  background: #D97537;
  color: #FFD400;
  border: 1px solid white;
}
